@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;700;900&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --background: #1A1A1A;
  --foreground: #ffffff;
  --primary: #FFC107;
  --primary-foreground: #1A1A1A;
  --secondary: #007BFF;
  --secondary-foreground: #ffffff;
  --muted: #2A2A2A;
  --muted-foreground: #A0A0A0;
  --accent: #FFC107;
  --accent-foreground: #1A1A1A;
  --border: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

button:hover{
  cursor: pointer;
}
